.app {
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
    margin-top: 20px;
}

.home-container,
.quiz-container,
.result-container {
  margin-top: 50px;
}
  

h1,
h2 {
  color: #333;
}

p {
  color: #666;
}

.sub-text {
  border: solid 1px #FB9504;
  color: #FB9504;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 13px;
  margin: 110px 0 20px;
  width: 230px;
}
/* 차트 디자인 시작 */
.result-container {
  text-align: center;
}

.traits {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.trait {
  width: 100px;
}

.circle-chart {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.circle-chart svg {
  transform: rotate(-90deg);
}

.circle-chart span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

/* 차트 디자인 끝 */

/* 사용자 정보 시작 */
.user-info-form {
  text-align: center;
}

.form-group {
  margin: 20px 0;
}

select {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 10px;
}

.confirm-button {
  background-color: #ff7f00;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.confirm-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 사용자 정보 끝 */

.button-quiz {
  height: 84px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ffffff;
  color: #111;
  border-radius: 12px;
  border: solid 3px;
  box-shadow: 0 5px 1px 0;
  cursor: pointer;
}
.button-start {
  height: 62px;
  font-size: 20px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}

.line-home {
  background-color: #fff;
  height: 2px;
}

.button-share {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #fff;
}